In [41]:
import numpy as np
import pandas as pd

In [42]:
dataset = pd.read_csv("House_price.csv")

In [43]:
dataset.head()

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks
0,24.0,0.00632,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347
1,21.6,0.02731,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146
2,34.7,0.02729,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,NO,7.394,101.1200,None,38,YES,0.045764
3,33.4,0.03237,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151
4,36.2,0.06905,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474

In [44]:
corr_matrix = dataset.corr().abs()
corr_matrix

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,parks
price,1.000000,0.389582,0.484754,0.429300,0.696304,0.377999,0.251355,0.249459,0.246650,0.248200,0.505655,0.740836,0.109646,0.023122,0.047426,0.391574
crime_rate,0.389582,1.000000,0.406583,0.420972,0.219247,0.352734,0.380050,0.379813,0.380069,0.376462,0.289946,0.455621,0.017502,0.013518,0.059204,0.383235
resid_area,0.484754,0.406583,1.000000,0.763651,0.391676,0.644779,0.706481,0.707956,0.707566,0.705819,0.383248,0.603800,0.005827,0.000839,0.055810,0.707635
air_qual,0.429300,0.420972,0.763651,1.000000,0.302188,0.731470,0.768589,0.769724,0.769157,0.764873,0.188933,0.590879,0.049954,0.004882,0.092104,0.915544
room_num,0.696304,0.219247,0.391676,0.302188,1.000000,0.240265,0.208464,0.203981,0.201907,0.205397,0.355501,0.613808,0.032207,0.030674,0.064694,0.282817
age,0.377999,0.352734,0.644779,0.731470,0.240265,1.000000,0.746904,0.746493,0.747021,0.746707,0.261515,0.602339,0.021102,0.009380,0.075198,0.673850
dist1,0.251355,0.380050,0.706481,0.768589,0.208464,0.746904,1.000000,0.997905,0.997735,0.994073,0.232834,0.498823,0.030550,0.014463,0.036794,0.706319
dist2,0.249459,0.379813,0.707956,0.769724,0.203981,0.746493,0.997905,1.000000,0.998097,0.994003,0.233707,0.495693,0.031248,0.010239,0.038005,0.708237
dist3,0.246650,0.380069,0.707566,0.769157,0.201907,0.747021,0.997735,0.998097,1.000000,0.994126,0.233588,0.494290,0.028471,0.010077,0.041470,0.709346
dist4,0.248200,0.376462,0.705819,0.764873,0.205397,0.746707,0.994073,0.994003,0.994126,1.000000,0.228256,0.496084,0.021648,0.005850,0.032542,0.703508
teachers,0.505655,0.289946,0.383248,0.188933,0.355501,0.261515,0.232834,0.233707,0.233588,0.228256,1.000000,0.374044,0.008130,0.023343,0.045836,0.187004
poor_prop,0.740836,0.455621,0.603800,0.590879,0.613808,0.602339,0.498823,0.495693,0.494290,0.496084,0.374044,1.000000,0.066434,0.003337,0.061581,0.552310
n_hos_beds,0.109646,0.017502,0.005827,0.049954,0.032207,0.021102,0.030550,0.031248,0.028471,0.021648,0.008130,0.066434,1.000000,0.005461,0.058997,0.072002
n_hot_rooms,0.023122,0.013518,0.000839,0.004882,0.030674,0.009380,0.014463,0.010239,0.010077,0.005850,0.023343,0.003337,0.005461,1.000000,0.004840,0.006262
rainfall,0.047426,0.059204,0.055810,0.092104,0.064694,0.075198,0.036794,0.038005,0.041470,0.032542,0.045836,0.061581,0.058997,0.004840,1.000000,0.078641
parks,0.391574,0.383235,0.707635,0.915544,0.282817,0.673850,0.706319,0.708237,0.709346,0.703508,0.187004,0.552310,0.072002,0.006262,0.078641,1.000000

In [36]:
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape),k=1).astype(np.bool))

In [37]:
to_drop = [column for column in upper.columns if any(upper[column]> 0.85)]
print(to_drop)

['dist2', 'dist3', 'dist4', 'parks']

In [39]:
df=dataset.drop(dataset[to_drop], axis = 1)

In [40]:
df

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter
0,24.0,0.00632,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES
1,21.6,0.02731,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES
2,34.7,0.02729,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,None,38,YES
3,33.4,0.03237,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES
4,36.2,0.06905,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,22.4,0.06263,41.93,0.573,6.593,69.1,2.64,19.0,9.67,NO,9.348,12.1792,Lake and River,27,YES
502,20.6,0.04527,41.93,0.573,6.120,76.7,2.44,19.0,9.08,YES,6.612,13.1648,Lake and River,20,YES
503,23.9,0.06076,41.93,0.573,6.976,91.0,2.34,19.0,5.64,NO,5.478,12.1912,None,31,YES
504,22.0,0.10959,41.93,0.573,6.794,89.3,2.54,19.0,6.48,YES,7.940,15.1760,None,47,YES
505,19.0,0.04741,41.93,0.573,6.030,80.8,2.72,19.0,7.88,YES,10.280,10.1520,None,45,YES

In [45]:
def Remove_high_corr(df):
    corr_matrix = dataset.corr().abs()
    upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape),k=1).astype(np.bool))
    to_drop = [column for column in upper.columns if any(upper[column]> 0.85)]
    df=dataset.drop(dataset[to_drop], axis = 1)
    return df

In [46]:
dataset = Remove_high_corr(dataset)

In [49]:
dataset.head()

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter
0,24.0,0.00632,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES
1,21.6,0.02731,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES
2,34.7,0.02729,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,None,38,YES
3,33.4,0.03237,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES
4,36.2,0.06905,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES

In [50]:
corr_matrix = dataset.corr().abs()
corr_matrix

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall
price,1.000000,0.389582,0.484754,0.429300,0.696304,0.377999,0.251355,0.505655,0.740836,0.109646,0.023122,0.047426
crime_rate,0.389582,1.000000,0.406583,0.420972,0.219247,0.352734,0.380050,0.289946,0.455621,0.017502,0.013518,0.059204
resid_area,0.484754,0.406583,1.000000,0.763651,0.391676,0.644779,0.706481,0.383248,0.603800,0.005827,0.000839,0.055810
air_qual,0.429300,0.420972,0.763651,1.000000,0.302188,0.731470,0.768589,0.188933,0.590879,0.049954,0.004882,0.092104
room_num,0.696304,0.219247,0.391676,0.302188,1.000000,0.240265,0.208464,0.355501,0.613808,0.032207,0.030674,0.064694
age,0.377999,0.352734,0.644779,0.731470,0.240265,1.000000,0.746904,0.261515,0.602339,0.021102,0.009380,0.075198
dist1,0.251355,0.380050,0.706481,0.768589,0.208464,0.746904,1.000000,0.232834,0.498823,0.030550,0.014463,0.036794
teachers,0.505655,0.289946,0.383248,0.188933,0.355501,0.261515,0.232834,1.000000,0.374044,0.008130,0.023343,0.045836
poor_prop,0.740836,0.455621,0.603800,0.590879,0.613808,0.602339,0.498823,0.374044,1.000000,0.066434,0.003337,0.061581
n_hos_beds,0.109646,0.017502,0.005827,0.049954,0.032207,0.021102,0.030550,0.008130,0.066434,1.000000,0.005461,0.058997
n_hot_rooms,0.023122,0.013518,0.000839,0.004882,0.030674,0.009380,0.014463,0.023343,0.003337,0.005461,1.000000,0.004840
rainfall,0.047426,0.059204,0.055810,0.092104,0.064694,0.075198,0.036794,0.045836,0.061581,0.058997,0.004840,1.000000